body {
    margin: 0px;
    padding: 0px;
    background-color: #161616;
}
html {
    scroll-behavior: smooth;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
#main {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #edf1fd;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: calibri;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    padding: 10px 50px;
    background-color: #f4f7ff;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.05);
    z-index: 1;
}

.menu {
    display: flex;
}
.menu li a{
    padding: 10px 15px;
    color: #6c707c;
    font-size: 12px;
}
.lang{
    color: #292929;
}
.logo {
    font-size: 25px;
    font-weight: bold;
    color: #292929;
    font-family: Poppins;
}
.menu li a:hover,
.active,
.cv-btn{
    background-color: #292929;
    color: #FFFFFF !important;
    font-weight: 700;
    transition: all ease 0.4s;
}
.name{
    font-family: calibri;
    width: 500px;
    position: absolute;
    left: 6%;
    top: 50%;
    transform: translate(-6%, -50%);
}
.name p:nth-child(1),
.name .details{
    color: #6c707c;
    font-size: 16px;
}
.name h1{
    font-family: Poppins;
    font-size: 40px;
    margin: 0px;
    letter-spacing: 3px;
    color: #292929;
}
.cv-btn{
    padding: 10px 15px;
}
.cv-btn:hover{
    background-color: #131313;
    transition: all ease 0.5s;
}
.social{
    display: flex;
    position: absolute;
    left: 50px;
    bottom: 50px;
}
.social a {
    margin: 6px 12px;
}
.social i {
    color: rgba(18, 17, 17, 0.4);
    font-size: 35px;
    transition: all ease 0.3s;
}
.social a:hover i{
    transform: scale(1.6);
    
}
.social .fa-github{
    color: #000 ;
}
.social .fa-linkedin{
    color: skyblue ;
}
.social .fa-hackerrank{
    color: lightgreen ;
}

#about{
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 5% 0px 5%;
}
.about-text{
    font-family: calibri;
    width: 50%;
}
.about-text h1{
    font-size: 3rem;
    color: #17d1ac;
}
.about-text h2{
    font-size: 2rem;
    color: #FFFFFF;
    font-weight: 400;
}
.about-text h1, h2{
    margin: 0px;
    padding: 0px;
}
.about-text p{
    font-size: 1.2rem;
    color: rgba(251, 251, 251, 0.90);
}
.about-text button{
    width: 180px;
    height: 40px;
    border-radius: 20px;
    border: none;
    outline: none;
    background-color: #17d1ac;
}
.about-text button:hover{
    background-color: #FFFFFF;
    transition: all ease 0.3s;
}
.about-model img{
    height: 400px;
}
#technologies{
    width: 100%;
    height: 100vh;
    font-family: calibri;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.t-heading h1{
    color: #FFFFFF;
    font-size: 3rem;
    margin: 0px;
    padding: 0px;
}
.t-heading p{
    color: rgba(249,249,249,0.30);
    font-size: 1rem;
    margin: 0px;
    padding: 0px;
}
.t-heading{
    text-align: center;
    margin: 20px 0px;
}
.t-box{
    background-color: #2a2b2b;
    width: 350px;
    height: 500px;
    margin: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    position: relative;
}
.t-b-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.t-b-img{
    width: 100%;
    height: 70%;
}
.t-b-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.t-b-text{
    width: 100%;
    height: 30%;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.t-b-text a{
    margin: 0px;
    color: #FFFFFF;
    font-size: 1.1rem;
    font-family: calibri;
    display: block;
    display: -webkit-box;
    max-width: 80%;
    -webkit-line-clamp: 4;
    overflow: ellipsis;
    -webkit-box-orient: vertical;
}
.t-type{
    font-family: calibri;
    color: #FFFFFF;
    background-color: #151515;
    padding: 10px 15px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 18px;
    border-radius: 0px 0px 10px 10px;
    box-shadow: 2px 2px 2px 12px rgba(0,0,0,0.2);
}
.t-box:hover{
    transform: translateY(-10px);
    transition: all ease 0.3s;
}
.t-b-text a:hover{
    color: rgba(255,255,255,0.50);
}
/* Portfolio Section */
#portfolio{
    width: 100%;
    box-sizing: border-box;
    font-family: calibri;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 2% 60px 2%;
}
.p-heading{
    font-family: calibri;
    font-size: 1.7rem;
    text-align: center;
    color: #FFFFFF;
    font-weight: 400;
    padding: 10px 20px;
    background-color: #292929;
    letter-spacing: 2px;
    border-radius: 3px;
    box-shadow: 2px 2px 20px rgba(0,0,0,0.1);
}
.p-box{
    background-color: #1f1f1f;
    overflow: hidden;
    box-shadow: 2px 2px 13px rgba(0,0,0,0.3);
    position: relative;
}
.p-b-container{
    display: grid;
    width: 90%;
    height: 70vh;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}
.text-overlay{
    font-family: calibri;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(23,209,172,0.89);
    display: none;
}
.text-overlay h1,p{
    color: #FFFFFF;
}
.text-overlay h1{
    font-size: 2.2rem;
    margin: 0px;
    padding: 0px;
    letter-spacing: 2px;
}
.text-overlay p{
    font-size: 1.2rem;
    margin: 0px;
}
.p-box:hover .text-overlay{
    display: flex;
}
.p-box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* Footer Section */
footer {
    background-color: #333;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer p {
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
}
footer a {
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: #17d1ac;
}
.social-footer a{
    padding: 0px 15px;
    
}
.social-footer a i{
    font-size: 35px; 
    transition: all ease 0.3s;   
}
.social-footer a i:hover{
    transform: scale(1.6);   
}

.social-footer .fa-github{
    color: #000 ;
}
.social-footer .fa-linkedin{
    color: skyblue ;
}
.social-footer .fa-hackerrank{
    color: lightgreen ;
}
